@mixin btn {
  @include text;
  display: block;
  width: 100%;
  padding: 9px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background-color: $accent-color;
  color: $white;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}