.about-company {
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $dark-background;
  background-image: url(../img/project-picture@1x.jpg);
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: 47% -125px;
  

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url(../img/project-picture@2x.jpg);
  }

  @media (min-width: 392px) {
    background-size: 200%;
    background-position: 53% -125px;
  }

  @media (min-width: 458px) {
    background-size: 160%;
    background-position: 33% -125px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 32px;
    padding-left: 32px;
    margin-bottom: 0;
    padding-bottom: 56px;
  }

  @media (min-width: 552px) {
    background-size: 135%;
    background-position: 45% -125px;
  }

  @media (min-width: 667px) {
    background-size: 105%;
    background-position: 45% -115px;
  }

  @media (min-width: 880px) {
    background-size: 95%;
    background-position: 140px -125px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
 padding-bottom: 100px;
  }

  @media (min-width: 1272px) {
    background-size: 100%;
    background-position: 0 -100px;
  }
}

.about-company__title {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    width: 285px;
    font-size: 32px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    font-size: 56px;
    line-height: 56px;
    padding-top: 95px;
    margin-bottom: 5px;
  }
}

.about-company__desc {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  

  @media (min-width: 598px) {
    width: 500px;
    &--short {
      width: 438px;
    }
  }
}