.competition {
  background-color: $light-background;
  padding-top: 26px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.competition__desc {
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 275px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 10px;
  }

  @media (min-width: 598px) {
    width: 390px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 460px;
    font-size: 20px;
    line-height: 24px;
  }
}

.competition__submit,
.competition__clarify {
  @include btn;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.competition__clarify {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid $white;
  background-color: transparent;
}

.competition__wrap {
  @media (min-width: $tablet-width) {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 45%; 
    margin: 0;
  }
}