.copyright {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
   width: 27px;
   height: 24px;
   opacity: 0.72; 
   margin-bottom: 5px;
  }
  &:focus img,
  &:hover img,
  &:focus .copyright__desc,
  &:hover .copyright__desc {
      opacity: 0.85;
    }

  &:active img,
  &:active .copyright__desc {
    opacity: 1;
  }
}

.copyright__desc {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  opacity: 0.72;
  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 5px;
   }

   @media (min-width: $desktop-width) {
    order: -1;
   }
}

