.footer {
  background-color: $light-background;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // align-items: center;
  padding-top: 20px;
}

.footer__copyright, .footer__contacts {
  margin: 0 auto;
}
