@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
    url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto'; 
  src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto'; 
  src: url('../fonts/roboto-black-webfont.woff2') format('woff2'),
  url('../fonts/roboto-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
  @include text;
  background-color: rgb(26, 20, 59);
}

body {
  min-width: $mobile-width;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  @include text;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}
// font-family: 'Roboto', sans-serif;