.project {
  background-color: $dark-background;
  padding-bottom: 57px;
}

.project__about-company {
  margin-bottom: 55px;
}

.project__competition {
  margin-left: 24px;
  margin-right: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 32px;
    margin-right: 32px;
  }
}