.user-identification {
  @include popap;
  overflow-y: auto;
  &--close {
    display: none;
  }
}
.user-identification__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}

.user-identification__close {
  @include close-btn;
  align-self: flex-end;
  margin-bottom: 140px;
}

.user-identification__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 100%;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  text-align: center;
}

.user-identification__desc {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  width: 230px;
  text-align: center;
}

.user-identification__slider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    opacity: 0.12;
    background-color: $white;
  }
}

.user-identification__slider-authorization,
.user-identification__slider-registration {
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.user-identification__slider-authorization {
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: transparent;
    transition: 0.6s;
  }
}

.user-identification__slider-registration {
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    transition: 0.4s;
  }
}

.user-identification__form {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;

  &--close {
    display: none;
  }
}

.user-identification__toggle-authorization:checked~.user-identification__slider-authorization::after {
  background-color: $accent-color;
}

.user-identification__toggle-registration:checked~.user-identification__slider-registration::after {
  background-color: $accent-color;
}

.user-identification__input {
  @include input;
  text-align: left;
  margin-bottom: 15px;
}

.user-identification__submit {
  @include btn;
  margin-bottom: 40px;
}

.user-identification__invalid {
  width: 100%;
  min-height: 10px;
  line-height: 24px;
  color: rgb(252, 23, 79);
  flex-grow: 1;
}

.user-identification__btn-recovery {
  @include text;
  border: none;
  background-color: transparent;
  padding-bottom: 60px;
  color: rgb(152, 145, 207);

  &:focus,
  &:hover {
    outline: none;
    opacity: 0.85;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .user-identification__title {
    font-size: 40px;
    line-height: 47px;
  }  
  .user-identification__desc {
    width: 500px;
    margin-bottom: 75px;
  } 
}